                        <!--Blog item-->
                        <div class="blog-item blog-list">
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <a href="#">
                                        <img src="../blog_doc/2017_" alt="image">
                                    </a>
                                    <div class="blog-date color-w">
                                        <p>01</p>JAN
                                    </div>
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7 m-t-xs-30">
                                    <div class="blog-caption">
                                        <h2 class="blog-heading">
                                            <a href="#">Title  </a><a name="anchor"></a>
                                        </h2>
                                        <p>Text
					</p>
                                        <a href="../blog_doc/2017_ " class="btn ht-btn ht-btn-1x"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Read the paper, More ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
